services:
  mongodb:
    image: mongo:latest
    restart: always
    container_name: agilstore-mongodb
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongodb_data:/data/db

  api:
    build:
      context: .
      target: production
    container_name: agilstore-api
    ports:
      - '3000:3000'
    environment:
      - MONGO_URI=mongodb://admin:password@mongodb:27017/agilstore?authSource=admin
    depends_on:
      - mongodb

volumes:
  mongodb_data:
